button {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #e8e9ee;
  color: rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  &:hover {
    border: 1px solid #323a46;
    transition: 0.5s all;
    color: #1ab7ff;
  }
} /*# sourceMappingURL=button.css.map */
