.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #ffffff;
  border: 1px solid rgb(232, 232, 234);
  box-shadow: inset;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  min-height: 90px;
}
.card__photos {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgb(232, 232, 234);
  box-shadow: inset;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.card__button {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=card.module.css.map */