body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  flex: 1;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
  color: #1ab7ff;
}

a:hover {
  color: #227aa3;
  transition: all 0.3s;
}

img {
  width: 50px;
  height: 50px;
}